<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <a href="./index.html">Home</a> / Heroes<br><br>

    <div id="nav">
        <a href="./babbage.html">Babbage - </a>
        <a href="./berners-lee.html">Berners-Lee - </a>
        <a href="./clarke.html">Clarke - </a>
        <a href="./hamilton.html">Hamilton - </a>
        <a href="./hopper.html">Hopper - </a>
        <a href="./lovelace.html">Lovelace - </a>
        <a href="./turing.html">Turing - </a>
    </div>

    <h1>Charles Babbage</h1>
    <img src="./img/charles-babbage-1792-1871-640.jpg" alt="Babbage" width="450" height="600">
    <p>Charles Babbage (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de 1871)
        fue un matemático y científico de la computación británico.1​ Diseñó y desarrolló una calculadora mecánica capaz
        de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la
        analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de
        las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera
        como "El Padre de la computación". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos
        inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England.
        Sitio en Londres.​<br><br>
        <a href="https://en.wikipedia.org/wiki/Charles_Babbage">Para saber más.</a></p>


</body>

</html>