<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <a href="./index.html">Home</a> / Heroes<br><br>

    <div id="nav">
        <a href="./babbage.html">Babbage - </a>
        <a href="./berners-lee.html">Berners-Lee - </a>
        <a href="./clarke.html">Clarke - </a>
        <a href="./hamilton.html">Hamilton - </a>
        <a href="./hopper.html">Hopper - </a>
        <a href="./lovelace.html">Lovelace - </a>
        <a href="./turing.html">Turing - </a> </div>

    <h1>Edmund Clarke</h1>

    <img src="./img/Edmund_Clarke_FLoC_2006.jpg" alt="Clarke" width="450" height="600">
    <p>Edmund Melson Clarke, Jr. (Newport News, 27 de julio de 1945 - 22 de diciembre de 2020) fue un informático
        teórico, profesor universitario, investigador, ingeniero y matemático estadounidense.

        Biografía
        Principalmente reconocido por haber desarrollado el método conocido como "model checking", para verificar
        diseños de software o hardware.

        Clarke fue el Profesor FORE Systems de Ciencias de la Computación en la Universidad Carnegie Mellon. Junto con
        E. Allen Emerson y Joseph Sifakis, fue el ganador de 2007 del Premio Turing de la Association for Computing
        Machinery.

        Falleció el 22 de diciembre de 2020 a los 75 años a causa de COVID-19.1​<br><br>

        <a href="https://es.wikipedia.org/wiki/Edmund_Clarke">Para saber más.</a></p>


</body>

</html>