<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <a href="./index.html">Home</a> / Heroes<br><br>

    <div id="nav">
        <a href="./babbage.html">Babbage - </a>
        <a href="./berners-lee.html">Berners-Lee - </a>
        <a href="./clarke.html">Clarke - </a>
        <a href="./hamilton.html">Hamilton - </a>
        <a href="./hopper.html">Hopper - </a>
        <a href="./lovelace.html">Lovelace - </a>
        <a href="./turing.html">Turing - </a> </div>

    <h1>Margaret Hamilton</h1>

    <img src="./img/Margaret_Hamilton_1995.jpg" alt="Hamilton" width="450" height="600">
    <p>Margaret Hamilton (17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software.

        Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con
        su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se
        convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se
        desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho"
        (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5​ Acuñó el término
        «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su
        idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras
        disciplinas.6​7​

        El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el
        expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.8​9​

        Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a
        fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es
        por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en
        Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).​<br><br>

        <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)">Para saber más.</a></p>


</body>

</html>