<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <a href="./index.html">Home</a> / Heroes<br><br>

    <div id="nav">
        <a href="./babbage.html">Babbage - </a>
        <a href="./berners-lee.html">Berners-Lee - </a>
        <a href="./clarke.html">Clarke - </a>
        <a href="./hamilton.html">Hamilton - </a>
        <a href="./hopper.html">Hopper - </a>
        <a href="./lovelace.html">Lovelace - </a>
        <a href="./turing.html">Turing - </a> </div>

    <h1>Grace Murray Hopper</h1>

    <img src="./img/Commodore_Grace_M._Hopper,_USN_(covered)_head_and_shoulders_crop.jpg" alt="Hopper" width="450"
        height="600">
    <p>Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una
        científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de
        las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60
        desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de
        validación. 1​2​3​4​5​6​

        Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo
        de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como
        Amazing Grace.<br><br>

        <a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper">Para saber más.</a></p>



</body>

</html>