<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <a href="./index.html">Home</a><br><br>

    <div id="nav">
        <a href="./babbage.html">Babbage - </a>
        <a href="./berners-lee.html">Berners-Lee - </a>
        <a href="./clarke.html">Clarke - </a>
        <a href="./hamilton.html">Hamilton - </a>
        <a href="./hopper.html">Hopper - </a>
        <a href="./lovelace.html">Lovelace - </a>
        <a href="./turing.html">Turing - </a>
    </div>


    <h1 id="heroes">DH Heroes</h1>

</body>

</html>

