<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <a href="./index.html">Home</a> / Heroes<br><br>

    <div id="nav">
        <a href="./babbage.html">Babbage - </a>
        <a href="./berners-lee.html">Berners-Lee - </a>
        <a href="./clarke.html">Clarke - </a>
        <a href="./hamilton.html">Hamilton - </a>
        <a href="./hopper.html">Hopper - </a>
        <a href="./lovelace.html">Lovelace - </a>
        <a href="./turing.html">Turing - </a> </div>

    <h1>Ada Lovelace</h1>

    <img src="./img/Ada_Lovelace.jpg" alt="Hopper" width="450" height="600">
    <p>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852) estuvo
        registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y
        escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles
        Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy
        como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera
        programadora de ordenadores.​​<br><br>

        <a href="https://es.wikipedia.org/wiki/Ada_Lovelace">Para saber más.</a></p>


</body>

</html>